@model IEnumerable<coreBasicNet5.Entities.cRol>
@{
    ViewData["Title"] = "Admin";
}

<h2>Rol</h2>
@Html.ActionLink("Nuevo", "RolCreate")
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rol_Nombre)
            </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rol_Nombre)
            </td>
              <td>
                  @Html.ActionLink("Editar", "RolEdit", new { id=item.id }) 
                  @Html.ActionLink("Detalle", "RolDetails", new { id=item.id }) 
                  @Html.ActionLink("Eliminar", "RolDelete", new { id=item.id }) 
              </td>
        </tr>
}
    </tbody>
</table>